#form {
  position: relative;
  bottom: 160px;

  form {
    display: flex;
    justify-content: center;
    position: relative;
    top: 15px;
    gap: 5px;
    input {
      border: 0.5px solid gray;
      height: 40px;
      padding: 5px;
      &:focus {
        outline: none;
      }
      &:hover {
        background-color: skyblue;
        transition: 1s all;
        color: white;
      }
      &::-webkit-input-placeholder {
        color: skyblue;
      }
      // &::-webkit-input-placeholder:hover {
      //   color: white;
      // }
    }
    input[type='submit'] {
      width: 80px;
      border-radius: 5px;
      font-weight: bolder;
      cursor: pointer;
      position: relative;
      top: 53px;
      right: 300px;
    }
    input[type='submit']:hover {
      background-color: darken($color: #d1c1c1, $amount: 10);
      color: whitesmoke;
    }
  }
}
#main {
  display: flex;
  justify-content: center;
  position: relative;
  top: -70px;
  height: auto;
  //   width: 300px;
  //   height: 200px;
}
.weather {
  background-color: yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
}
.weather-forcast {
  background-color: skyblue;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  width: 300px;
}
.h2 {
  text-align: center;
  color: whitesmoke;
  padding: 5px;
}
